
  
/* ########################################################################################## */
/* Login Form */

#login.fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat:repeat;
}

.form-signin {
  max-width: 380px;
  padding: 15px;
  margin: 0 auto;
  margin-top:50px;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 1em;
}
.form-element {
  position: relative;
  /*font-size: 1.5em;*/
  height: auto;
  padding: .5em;
  margin-bottom: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin-heading {
  text-align: center;
}

/* Login input */
.form-signin .form-input {
  padding: 1em;
}

/* Login button */
.form-signin .btn {
}

/* ########################################################################################## */
/* Footer */
/* see: http://stackoverflow.com/questions/21324395/bootstrap-3-flush-footer-to-bottom-not-fixed */

* {
    margin: 0;
}
html, body, .content {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 80px; /* .push must be the same height as .footer */
    font-size:1.5em;
}


/* ########################################################################################## */
/* Misc */

.btn {
  max-width: 300px !important;
  margin-left: auto ;
  margin-right: auto ;
}