<div class="fullscreen_bg" ng-controller="guestCtrl"/>
    <div class="container form-signin">
        <h1 class="form-signin-heading">Components Test App</h1>
        <input id="username" type="text" tabindex="1" class="form-element form-control form-input" placeholder="user name" required autofocus ng-model="this.loginData.userName">
        <div for="username" ng-style="{visibility: !!errorMessage && 'visible' || 'hidden'}" class="form-element alert alert-danger">
          {{errorMessage}}
        </div>
        <a ng-disabled="busy" tabindex="101" class="form-element form-control btn btn-lg btn-primary btn-block" ng-click="clickLogin()">
            <span>Login</span> <span ng-style="{visibility: busy && 'visible' || 'hidden'}"><i class="fa fa-cog fa-spin"></i></span>
        </a>
    </div>

    <!-- Footer -->
    <div class="container">
      <blockquote>
        <p>The formulation of the problem is often more essential than its solution</p>
        <footer>Albert Einstein</footer>
      </blockquote>
    </div>
</div>